/*header, body and text formating for entire page */

.containerHeader{
    background-image: url("../Background_Image.jpg");
    height:675px;
    background-size:cover;
    background-position:center;
}

.headerRow{
    text-align: left;
    font-weight: bold;
    border-radius: 10px;
    }

.textHeader{
    padding: 1%;
    font-weight: bold;
    font-family: monospace;
}

.containerInfo{
    margin-top: 15%;
    padding:2%;
    background-color:rgba(255,255,255, .7);
    height:100%;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.navRow{
    text-align: center;
}

/*header section*/

.pgHeaderRow{
    text-align: center;
}


.headerPage{
    font-family: monospace;
    color: black;
    font-weight: bold;
}

.textPgHeader{
    margin-top: -2%;
    font-weight: bolder;
    font-family: monospace;
    font-size: 65px;
    color: black;
}


.btn-group{
    border: 0;
}


.btn, btn-default{
    border-right: solid #CACACA 1px;
    background-color: #DDDEE0;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;

}

.containerBio{
    margin-top: -46%;
    padding: 2%;
    margin-left: 3%;
}

.ImgRow{
    text-align: center;

}


/*about me section*/
.rowBio{

    margin-top: 48%;

}


.headerAbout{
    margin-top: 1px;
}


.headerBio{
    font-family: monospace;
    font-weight: bold;
    margin-top: 40%;
}

.link{
    color: black;
    font-weight: bold;
}


#imgCol{
    margin-top: 1%;
}


#tiyLogo:hover{
    opacity:.7;
}


#backendLogo{
    margin-left: -2%;
}


#backendLogo:hover{
    opacity:.7;
}


#bio{
    margin-left: -10%;
    margin-top: -20%;
}


.bioPara{
    margin-top: -2%;
    font-size: 22px;
    border-radius: 10px;
    padding: 2%;
}

.skills{
    margin-top: 10%;
}


.skillText{
    font-weight: bold;
    font-size: 18px;
    margin-left: 1%;
}

.contactButton{
    border-radius: 3px;
    border: solid white 1px;
    background-color: #1B54FA;
}


.contactButton:hover{
    background-color: white;
}


/*resume section*/
.rowResume{
    margin-top: 6%;
}


#resume{
    height: 1600px;
    width: 100%;
}


/*project section*/
.rowProjects{
    /*border-top: solid grey 3px;*/
    margin-top: 6%;
}


.procImg{
    height: 200px;
    text-align: center;
}


.procDes{
    background-color: #CACACA;
    padding: 3%;
    border-radius: 3px;
}

.row-port-two{
    margin-top:30%;
}

.more{
    margin-top: 10%;
}


/* modal css */
.headerModal{
    margin-top: -1%;
    text-align: left;
}


.modal-header{
    border: 0;
    text-align: left;
}


.modal-body{
    margin-top: -3%;
    text-align: center;
}


.icon{
    margin-left: 20px;
}


.col-md-5{
    margin-left: 6%;
}


.linkPro{
    border: solid #CACACA 1px;
    background-color: #DDDEE0;
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.textHeader-contact{
    padding: 1%;
    font-weight: bold;
    font-family: monospace;
    margin-top: -1%;
}
