/*header, body and text formating for entire page */
body{
    background-image: url("../images/Background_Image.jpg");
    background-size:cover;
}
.row.header-row{
    text-align: left;
    font-weight: bold;
    border-radius: 10px;
    margin-top: -7.5%;
    opacity: .9;
}

.container-fluid{
    background-color:rgba(255,255,255, .7);
    width: 100%;
    height: 100%;
    padding: 5%;
    display: none;
}

.nav{
    display: none;
}

#home{
    display: none;
}

.text-header{
    font-weight: bold;
    font-size: 30px;
    font-family: monospace;
    text-align: left;
    background-color: #73a7e9;
    width: 111.3%;
    margin-left: -5.6%;
    margin-top: 1.9%;
    padding: 1%;
}

.active{
    background-color: #73a7e9;
}

.navRow{
    text-align: center;
}

/*header section*/
.row-home-nav{
    margin-top: 15%;
    padding:2%;
    background-color:rgba(255,255,255, .7);
    height:100%;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    border-radius: 2px;
}

.textPgHeader{
    margin-top: -4.6%;
    font-family: monospace;
    color: black;
    text-align: left;
    background-color: #73a7e9;
    margin-left: -7.3%;
    width: -moz-fit-content;
    padding: 2%;
    border-radius: 2px;
}

.headerPage{
    font-family: monospace;
    color: black;
    font-weight: bold;
    text-align: left;
    font-style: italic;
    margin-left: -51%;
}

.pgheader-row{
    text-align: center;
}

.btn-group{
    border: 0;
}


.btn.btn-default{
    border-right: solid #CACACA 1px;
    background-color: #DDDEE0;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
}

.btn.btn-default:hover{
    cursor: pointer;
    background-color: #73a7e9;
}

/*about me section*/

.row-bio{
    background-color: rgba(255,255,255, .8);
    display: -webkit-inline-flex;
    padding: 2%;
}

.header-bio{
    font-family: monospace;
    font-weight: bold;
}


.link{
    color: black;
    font-weight: bold;
}

#tiyLogo:hover{
    opacity:.7;
}


#backendLogo{
    margin-left: -2%;
}


#backendLogo:hover{
    opacity:.7;
}

.skills-text{
    font-weight: bold;
    font-size: 18px;
    margin-left: 1%;
}

.row-skills{
    margin-left: -16%;
    margin-top: 13%;
}


.contactButton{
    border-radius: 3px;
    border: solid white 1px;
    background-color: #1B54FA;
}


.contactButton:hover{
    background-color: white;
}


/*resume section*/
#resume{
    width:100%;
    margin-top: 1%;
    height: 100%;
}

.row-resume{
    background-color:rgba(255,255,255, .7);
    height:200%;
    width: 100%;
    padding: 5%;
}

/*project section*/
.row-projects{
    display: flex;
    padding: 2%;
    background-color:rgba(255,255,255, .7);
    width: 100%;
}

.header-project{
    font-family: monospace;
}

.proc-des{
    font-family: monospace;
}

.proc-img{
    height: 200px;
    text-align: center;
}

.link-button{
    border: solid #B8B8B9 1px;
    border-radius: 3px;
    background-color: #EFEFF0;
    font-family: monospace;
    font-weight: bold;
    color: black;
    font-size: 18px;
    padding: 1.5%;

}


.link-button:hover{
    cursor: pointer;
    background-color: #73a7e9;
}


/* modal css */
.headerModal{
    margin-top: -1%;
    text-align: left;
}


.modal-header{
    border: 0;
    text-align: left;
}


.modal-body{
    margin-top: -3%;
    text-align: center;
}


.icon{
    margin-left: 20px;
}


.col-md-5{
    margin-left: 6%;
}


.linkPro{
    border: solid #CACACA 1px;
    background-color: #DDDEE0;
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}


.text-header-contact{
    padding: 1%;
    font-weight: bold;
    font-family: monospace;
    margin-top: -1%;
}
