<div class="row-bio">
    <div class="col-md-6">
        <img class="head-shot" src="images/DSC_0160 copy.jpg" alt="head-shot"></img>
    </div>
    <div class="col-md-6">
        <div class="row-skills">
            <p class="skills-text">
                Skills: Node, Python, Angular 7, Ember, React, Handlebars, HTML, MongoDB, 
                SQL, Rest APIs, Agile Development, Git, Docker, Kubernetes
            </p>
        </div>
    </div>
</div>
<div class="row-bio">
    <div class="col-md-12">
        <p class="bio-para">
            Hello! I'm a highly motivated, detail oriented software engineer currently residing
            in Durham, NC. At the moment I am working as a full stack software engineer for Cisco 
            contracted through Aerotek. My team builds enterprise, web based tools that serve 
            thousands of users and maintain large data sets. I am the solo developer for my tool and I 
            work directly with architects and stake holders to deliver user stories and bug fixes in a timely manner.
            Prior to my current position I was contracted as a senior full
            stack engineer for AT&T. This role's duties included development, code reviews,
            interviews, sprint planning, and also mentoring junior and standard developers. 
            I have a somewhat non-standard education that has benefited me greatly in this
            industry. I attended The Iron Yard's intensive full stack course
            with a focus on developing full stack web apps. This was a fast paced environment 
            that taught me context switching, agile development and how to utilize your team 
            to learn and excel everyday.
            I am interested in joining an energetic, talented team that offers
            new challenges and the opportunity
            to continue growing as a developer. I am able to pick up new languages
            and frameworks quickly, and greatly enjoy expanding my knowledge base.
            When I am away from the keyboard I like to spend time with my son, play music, 
            or drink a good craft IPA. 
            *Feel free to peruse my github projects but keep in mind that they are side projects 
            and most of them have lots of work left to do.  
        </p>
        <br>
        <br>
        <div class="report-card treehouse"></div>
    </div>
</div>
<script>
    $('.report-card.treehouse').reportCard({
        userName: 'josiahdubose',
        site: 'treehouse',
        badgesAmount: 10
    });
</script>
