<div class="row-bio">
    <div class="col-md-6">
        <img class="head-shot" src="images/DSC_0160 copy.jpg" alt="head-shot"></img>
    </div>
    <div class="col-md-6">
        <div class="row-skills">
            <p class="skills-text">
                Skills: Python, Node, Perl, JavaScript, Django, Angular 7,
                Ember, React, Handlebars, HTML, MongoDB, SQL, Rest APIs, 
                Agile Development, Git, Kubernetes
            </p>
        </div>
    </div>
</div>
<div class="row-bio">
    <div class="col-md-12">
        <p class="bio-para">
            Hello! I'm a highly motivated, detail oriented software developer currently residing
            in Durham, NC. I'm working as a full stack software engineer contracted to Cisco through Aerotek. 
            We build enterprise, web based tools that serve thousands of users from
            all over the world. Prior to my current position I was contracted as a senior full
            stack engineer for AT&T. This role's duties included working tickets, code reviews,
            interviews, sprint planning, and mentoring junior and standard developers. 
            I have a somewhat non-standard education that has benefited me greatly in this
            industry. I attended The Iron Yard's backend course
            with a focus in developing full stack web apps. This was a fast paced environment 
            that taught me context switching, agile development and how to utilize you team 
            to learn something new everyday.
            I am interested in joining an energetic, talented team that offers
            new challenges and the opportunity
            to continue growing as a developer. I am able to pick up new languages
            and frameworks quickly, and greatly enjoy expanding my knowledge base.
            When I am away from the keyboard I like to
            spend time with my son, play music, or drink a
            good craft IPA. 
            *Feel free to peruse my github projects but keep mind that most of them are
            old and don't reflect my current skill set.   
        </p>
        <br>
        <br>
        <div class="report-card treehouse"></div>
    </div>
</div>
<script>
    $('.report-card.treehouse').reportCard({
        userName: 'josiahdubose',
        site: 'treehouse',
        badgesAmount: 10
    });
</script>
