<div class="row-bio">
    <div class="col-md-6">
        <img class="head-shot" src="images/DSC_0160 copy.jpg" alt="head-shot"></img>
    </div>
    <div class="col-md-6">
        <div class="row-skills">
            <p class="skills-text">
                Skills: Python, Perl, JavaScript, Django, Ember, React, Handlebars,
                HTML, SQL, Rest APIs, Agile Development, Git
            </p>
        </div>
    </div>
</div>
<div class="row-bio">
    <div class="col-md-12">
        <p class="bio-para">
            I'm a detailed oriented person who greatly enjoys
            problem solving and learning new things everyday. Currently, I'm working as
            a full stack web developer. We build enterprise,
            web based tools that serve thousands of users from
            all over the world. My duties working tickets, QAs, peer code reviews,
            interviews, and writing tickets. Prior to my current
            position I attended The Iron Yard's backend course
            with a focus in developing full stack web apps.
            I am interested in joining an energetic, talented team that offers
            new challenges daily and the opportunity
            to continue growing as a developer. I am able to pick up new languages
            and frameworks quickly, and greatly enjoy expanding my knowledge base.
            When I am away from the keyboard I like to
            spend time in the woods, play drums, or drink a
            good craft IPA.
        </p>
        <br>
        <br>
        <div class="report-card treehouse"></div>
    </div>
</div>
<script>
    $('.report-card.treehouse').reportCard({
        userName: 'josiahdubose',
        site: 'treehouse',
        badgesAmount: 10
    });
</script>
