<div class="container-header">
    <div class="row">
        <div class="col-md-12">
            <div class="container-info">
                <h1 class="textPgHeader">Josiah DuBose</h1>
                <h4 class="headerPage">Full Stack Web Developer</h4>
                <br>
                <div class="navRow">
                    <div class="btn-group" role="group" aria-label="...">
                        <button id="loadBio" class="btn btn-default">About Me</button>
                        <button id="loadProjects" class="btn btn-default">Projects</button>
                        <button id="loadResume" class="btn btn-default">Resume</button>
                        <button id="contact-pop" class="btn btn-default"data-toggle="modal" data-target="#contact_modal">Contact</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
