<div class="row-projects">
    <div class="col-md-6">
        <h4 class="header-project">Bike MD</h4>
        <img class="proc-img"
            src="images/bikeLogin.png"
            alt="screenshot">
        </img>
        <p class="proc-des">
            Bike MD is a community for motorcycle technicians and owners, a
            place where they can connect with each other and ask
            technical questions, browse common problems and
            solutions by model, and help each other troubleshoot
            vehicles more efficiently. This was my final project for 
            the Iron Yard. I worked with two UI/UX designers to build 
            the MVP over a two week period. Since that time I have made the project
            open source and we're currently in the process of redesigning the entire application.
            The new API will be Node/Express and the Client will in Angular 7 with RXJS.
            <br>
            <br>
            <strong>Stack:</strong>Node, Express, MongoDB, Angular, RXJS
            <br>
        </p>
        <a href="https://github.com/Josiah-DuBose/bike_md_api" target="_top">
            <button class="link-button" 
                target="_blank">
                <i class="fa fa-list" aria-hidden="true"></i>
                See API Code
            </button>
        </a>
        <a href="https://github.com/Josiah-DuBose/bike_md_frontend" target="_top">
            <button class="link-button" 
                target="_blank">
                <i class="fa fa-list" aria-hidden="true"></i>
                See Frontend Code
            </button>
        </a>
        <br>

    </div>
    <div class="col-md-6">
        <h4 class="header-project">To-do list</h4>
        <img class="proc-img"
            src="../images/Shopping_buddy_home_page.png"
            alt="App Screen Shot">
        </img>
        <img class="proc-img"
            src="../images/shopping_buddy_create_list_page.png"
            alt="App Screen Shot">
        </img>
        <p class="proc-des">
            Everyone builds multiple to-do list apps, usually as tutorials
            for learning a new language. I started this one because there is 
            a lack of good Ios apps for grocery shopping and I wanted to learn React Native. 
            The goal is to have a checklist that not only keeps track of items, 
            but also their prices and the best places to buy them. With built in maps,
            price tracking, and easy to use interface I think this app will eventually be
            marketable on the App Store.
            This project is just getting started, but you can see the code by 
            using the link below.
            <br>
            <br>
            <br>
            <strong>Stack:</strong> React Native, Node, Express MongoDB
        </p>
        <a href="https://github.com/Josiah-DuBose/shopping_buddy"
            target="_top">
            <button class="link-button" 
                target="_blank">
                <i class="fa fa-list" aria-hidden="true"></i>
                See Code
            </button>
        </a>
    </div>
</div>
