<div class="row-projects">
    <div class="col-md-6">
        <h4 class="header-project">Bike MD</h4>
        <img class="proc-img"
            src="images/bikeLogin.png"
            alt="screenshot">
        </img>
        <p class="proc-des">
            Bike MD is a community of motorcycle technicians and owners, a
            place where they can connect with each other and ask
            technical questions, browse common problems and
            solutions by model, and help each other troubleshoot
            vehicles more efficiently. This was my final project for 
            the Iron Yard. I worked with two UI/UX designers to build 
            the MVP over a two week period. 
            <br>
            <br>
            <strong>Stack:</strong> Django Rest Framework, PostgresSQL,
            Ember, HTML, Bootstrap, Handlebars, and Sass.
            <br>
        </p>
        <a href="https://github.com/Josiah-DuBose/bike_md_backend" target="_top">
            <button class="link-button" 
                target="_blank">
                <i class="fa fa-list" aria-hidden="true"></i>
                See Code
            </button>
        </a>
    </div>
    <div class="col-md-6">
        <h4 class="header-project">To-do list</h4>
        <img class="proc-img"
            src=""
            alt="<screenshot>">
        </img>
        <p class="proc-des">
            Everyone builds multiple to-do list apps, usually as tutorials
            for learning a new language. I started this one because there is 
            a lack of good IOS apps for grocery shopping and I wanted to learn Meteor
            JS with React and MongoDB. I will compile this app to ios using Cordova. 
            The goal is to have a checklist that not only keeps track of items, 
            but also their prices and the best places to buy them. 
            This project is just getting started, but you can see the code by 
            using the link below.
            <br>
            <br>
            <br>
            <strong>Stack:</strong> Meteor, React, MongoDB, Material UI
        </p>
        <a href="https://github.com/Josiah-DuBose/shopping-list"
            target="_top">
            <button class="link-button" 
                target="_blank">
                <i class="fa fa-list" aria-hidden="true"></i>
                See Code
            </button>
        </a>
    </div>
</div> <!-- end of row one -->
<br>
<br>
<div class="row-projects">
    <div class="col-md-6">
        <h4 class="header-project">Movie Rater</h4>
        <img class="proc-img"
            src="images/movie-rater.png"
            alt="screenshot">
        </img>
        <p class="proc-des">
            This was one of my first full stack assignments at TIY.
            It is a light weight, movie rating app. Users
            can browse lists of top rated movies, view other user's watch lists,
            or sign up for an account and add their own ratings.
            <br>
            <br>
            <br>
            <strong>Stack:</strong> Django Rest Framework, JavaScript,
            HTML, Bootstrap, PostgresSQL, and CSS.
        </p>
        <a href="https://github.com/Josiah-DuBose/django_movies"
            target="_top">
            <button class="link-button"
               target="_blank">
               <i class="fa fa-list" aria-hidden="true"></i>
               See Code
            </button>
        </a>
    </div>
    <div class="col-md-6">
        <h4 class="header-project">Craigslist clone</h4>
        <img class="proc-img"
            src="images/craigslist.png"
            alt="screenshot">
        </img>
        <p class="proc-des">
            Another early project from TIY. The assignment was to create
            a clone of craiglist. The app has fully functioning ad
            posting and supports picture uploading. Click the link
            below to view the repo.
            <br>
            <br>
            <strong>Stack:</strong> Django, PostgresSQL, HTML, and CSS.
        </p>
        <br>
        <a href="https://github.com/Josiah-DuBose/django_movies" target="_top">
            <button class="link-button" 
                target="_blank">
                <i class="fa fa-list" aria-hidden="true"></i>
                See Code
            </button>
        </a>
    </div>
</div> <!-- end row two -->
