<div class="row-projects">
    <div class="col-md-6">
        <h4 class="header-project">Bike MD</h4>
        <img class="proc-img"
            src="images/bikeLogin.png"
            alt="screenshot">
        </img>
        <p class="proc-des">
            Bike MD is a community of motorcycle technicians and owners, a
            place where they can connect with each other and ask
            technical questions, browse common problems and
            solutions by model, and help each other troubleshoot
            vehicles more efficiently. This is my current side project.
            <br>
            <br>
            <strong>Stack:</strong> Django Rest Framework, PostgresSQL,
            Ember, HTML, Bootstrap, Handlebars, and Sass.
            <br>
        </p>
        <a href="https://github.com/Josiah-DuBose/bike_md_frontend_ember" target="_top">
            <button class="link-button" type="button"
            name="button" target="_blank">See Ember Front End</button>
        </a>
        <a href="https://github.com/Josiah-DuBose/bike_md_backend" target="_top">
            <button class="link-button" type="button"
            name="button" target="_blank">See Django Back End</button>
        </a>
    </div>
    <div class="col-md-6">
        <h4 class="header-project">Movie Rater</h4>
        <img class="proc-img"
            src="images/movie-rater.png"
            alt="screenshot">
        </img>
        <p class="proc-des">
            This was one of my first full stack assignments at TIY.
            It is a light weight, movie rating app. Users
            can browse lists of top rated movies, view other user's watch lists,
            or sign up for an account and add their own ratings.
            <br>
            <br>
            <br>
            <strong>Stack:</strong> Django Rest Framework, JavaScript,
            HTML, Bootstrap, PostgresSQL, and CSS.
        </p>
        <a href="https://github.com/Josiah-DuBose/django_movies"
            target="_top">
            <button class="link-button" type="button"
            name="button" target="_blank">See Code</button>
        </a>
    </div>
</div> <!-- end of row one -->
<br>
<br>
<div class="row-projects">
    <div class="col-md-6">
        <h4 class="header-project">Craigslist clone</h4>
        <img class="proc-img"
            src="images/craigslist.png"
            alt="screenshot">
        </img>
        <p class="proc-des">
            Another early project from TIY. The assignment was to create
            a clone of craiglist. The app has fully functioning ad
            posting and supports picture uploading. Click the link
            below to view the repo.
            <br>
            <br>
            <strong>Stack:</strong> Django, PostgresSQL, HTML, and CSS.
        </p>
        <br>
        <a href="https://github.com/Josiah-DuBose/django_movies" target="_top">
            <button class="link-button" type="button"
            name="button" target="_blank">See Code</button></a>
    </div>
    <div class="col-md-6">
        <h4 class="header-project">Python CLIs</h4>
        <img class="proc-img"
            src="images/terminal.png"
            alt="screenshot">
        </img>    
        <p class="proc-des">
            During the python course at TIY I built many
            CLI programs. Below are a few links to the repos that contain
            some of the more useful programs.
        </p>
        <br>
        <br>
        <br>
        <br>
        <a href="https://github.com/Josiah-DuBose/express_yourself" target="_top">
            <button class="link-button" type="button"
            name="button" target="_blank">Regex TDD</button>
        </a>
        <a href="https://github.com/Josiah-DuBose/currency-converter" target="_top">
            <button class="link-button" type="button"
            name="button" target="_blank">Currency Converter</button>
        </a>
        <a href="https://github.com/Josiah-DuBose/black_jack" target="_top">
            <button class="link-button" type="button"
            name="button" target="_blank">Black Jack</button>
        </a>
    </div>
</div> <!-- end row two -->
