.row{
    text-align: center;
    margin-top: 8%;
}

h1{
    font-size: 50px;
}

h2{
    text-align: left;
    border-bottom: solid grey 1px;
    background-color: #F5592F;
}

#link{
    background-color: #E0E0DE;
}


#resume{
    height: 100%;
    width: 100%;
}
