/*header, body and text formating for entire page */
.headerRow{
    text-align: left;
    font-weight: bold;
    border-radius: 10px;
    }

.textHeader{
    padding: 1%;
    font-weight: bold;
    font-family: monospace;
}

body{
    background-color: #DDDEE0;

}

/*header section*/

.pgHeaderRow{
    margin-top: 15%;
    text-align: center;
}

.headerPage{
    font-family: monospace;
}

.textPgHeader{
    font-weight: bolder;
    font-family: monospace;
    font-size: 65px;
}


.rowNav{
    text-align: center;

}

.btn, btn-default{
    border: solid #CACACA 1px;
    background-color: #DDDEE0;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;

}


.ImgRow{
    text-align: center;

}

#mainImg{
    border-radius: 5px;

}


/*about me section*/
.rowBio{

    margin-top: 48%;

}


.headerAbout{
    margin-top: 1px;
}


.headerBio{
    margin-top: 50%;
}

.link{
    color: black;
    font-weight: bold;
}


#imgCol{
    margin-top: 1%;
}


#tiyLogo:hover{
    opacity:.7;
}


#backendLogo{
    margin-left: -2%;
}


#backendLogo:hover{
    opacity:.7;
}


#bio{
    margin-left: -10%;
    margin-top: -20%;
}


.bioPara{
    font-size: 22px;
    background-color: #CACACA;
    border-radius: 10px;
    padding: 2%;
}


.headShot{
    border-radius: 1000px;
}

.skillText{
    font-weight: bold;
    font-size: 18px;
    margin-left: 1%;
}

.contactButton{
    border-radius: 3px;
    border: solid white 1px;
    background-color: #1B54FA;
}


.contactButton:hover{
    background-color: white;
}


/*resume section*/
.rowResume{
    margin-top: 6%;
}


#resume{
    height: 1400px;
    width: 100%;
}


/*project section*/
.rowProjects{
    /*border-top: solid grey 3px;*/
    margin-top: 6%;
}


.procImg{
    border-radius: 50%;
    text-align: center;
}


.procDes{
    background-color: #CACACA;
    padding: 3%;
    border-radius: 3px;
}


/* modal css */
.headerModal{
    margin-top: -1%;
    text-align: left;
}


.modal-header{
    border: 0;
    text-align: left;
}


.modal-body{
    margin-top: -3%;
    text-align: center;
}


.icon{
    margin-left: 20px;
}


.col-md-5{
    margin-left: 6%;
}


.linkPro{
    border: solid #CACACA 1px;
    background-color: #DDDEE0;
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.textHeader-contact{
    padding: 1%;
    font-weight: bold;
    font-family: monospace;
    margin-top: -1%;
}
